* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2%;
  line-height: 30px;
  background-color: yellow;
}

.pokemon-button {
  background-color: black;
  color: yellow;
  padding: 1%;
  margin: 1%;
  width: 100px;
}

li {
  list-style: none;
  /*color: yellow;*/
}