{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6":true,
    "jquery": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "quotes": ["error", "single"], // requires single quotes where possible
    "object-curly-newline": ["off"], // requires new line before curly brackets open and after close
    "lines-around-comment": ["error", {"beforeLineComment": true}] // requires line break before line comment
  }
}