body {
  margin: 2%;
  line-height: 30px;
  background-color: rgb(245, 224, 66);
  font-family: 'Press Start 2P', 'Verdana', sans-serif;
  text-align: center;
}

.navbar {
  background-color: black;
  color: rgb(245, 224, 66);
  margin: 0;
  padding: 2%;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  overflow-x: hidden;
}

.navbar-title {
  margin-top: .5rem;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  overflow-x: hidden;
}

.list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-primary {
  background-color: black;
  color: rgb(245, 224, 66);
  padding: 1%;
  margin: 1%;
  border-style: inset;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-color: gray;
  border-radius: 50%;
  width: 200px;
  height: 75px;
}

.btn-primary:hover, .btn-primary:focus {
  opacity: 0.9;
  background-color: black;
  border-color: gray;
  color: rgb(245, 224, 66);
  border-top-width: 3px;
  border-left-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  box-shadow: none;
}

li {
  list-style: none;
  margin: 1%;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
}

/* to hide modal by default */
#exampleModal {
  display: none;
}

.modal-dialog {
  background-color: gray;
}

.modal-content {
  background-color: black;
  color: rgb(245, 224, 66);
}

.modal-image {
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
}

.close {
  color: rgb(245, 224, 66);
  opacity: 100;
}

.close:hover, .close:focus {
  color: rgb(245, 224, 66);
  opacity: 0.6;
}

.btn-secondary {
  background-color: rgb(245, 224, 66);
  color: black;
  border-radius: 50%;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: rgb(245, 224, 66);
  color: black;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}